@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Work Sans", sans-serif;
}
.lora{
    font-family: "Lora", serif;
}

#blur{
  text-shadow: 0px 0px 40px rgb(156 163 175);
}



@layer base{
    .theme-dark{
        --color-text-primary: rgb(255 255 255);   /* text-white */
        --color-text-secondary: rgb(229 231 235); /* text-slate-500 */
        --color-text-important: rgb(56 189 248); /* text-violet-800 */
      --color-primary: rgb(3 7 18);
      --color-secondary: rgb(55 65 81);
      --color-important: rgb(46 16 101);
      --color-fill: rgb(31 41 55);
      --color-button: rgb(74 222 128);
      --color-button-secondary: rgb(250 204 21);
      --color-button-hover: #064e3b;
      --color-button-cancel: #4b5563;
      --color-button-cancel-hover: #111827;
    }
    .theme-light{
        --color-text-primary: rgb(17 24 39);   /* text-gray-900 */
        --color-text-secondary: rgb(75 85 99); /* text-gray-500 */
        --color-text-important: #0CA7FF;
      --color-primary: #D7F0FF;
      /* --color-secondary: #EBF7FF; */
      --color-secondary: #f3f6f9;
      --color-important: #0CA7FF;
      --color-fill: #FFFFFF;
      --color-button: rgb(74 222 128);
      --color-button-secondary: rgb(245 158 11);
      --color-button-hover: #0d9488;
      --color-button-cancel: #fb7185;
      --color-button-cancel-hover: #e11d48;
    }
  }
